{% extends 'base.html.twig' %}

{% block title %}HomeProduct index{% endblock %}

{% block body %}
    <h1>Maison - {{ app.user.getHome().getHName() }}</h1>
    <h1>Utilisateur - {{ app.user.getUname() }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>fav</th>
                <th>Hp_scan_date</th>
                <th>Hp_use_by_date</th>
                <th>Hp_consumed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home_product in home_products %}
            <tr>
                <td>{{ home_product.getProduct().getPName() }}</td>
                <td>     
                        
                        {# get the favorite id of the product depending on the home of the user #}
                        {% set FavIdByHome = home_product.getProduct().getFavIdByHome(app.user) %}

                        {% if home_product.getProduct().isFavByHome(app.user) %} 
                        
                            <form method="post" action="{{ path('app_favorite_delete', {'id': FavIdByHome}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ FavIdByHome) }}">
                                <button class="btn p-0"><i class="fa-solid fa-star"></i></button>
                            </form>

                        {% else %}

                            <form method="post" action="{{ path('app_favorite_new') }}">
                                <input type="hidden" name="productId" value= "{{ home_product.product.id }}">
                                <input type="hidden" name="userId" value= "{{ app.user.id }}" >
                                <button class="btn p-0"><i class="fa-regular fa-star"></i></button>
                            </form>

                        {% endif %}
                </td>
                <td>{{ home_product.hpScanDate|date('Y-m-d H:i:s')}}</td>
                <td>{{ home_product.hpUseByDate ? home_product.hpUseByDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ home_product.hpConsumed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_home_product_show', {'id': home_product.id}) }}">show</a>
                    <a href="{{ path('app_home_product_delete', {'id': home_product.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_home_product_new') }}">Create new</a>
{% endblock %}
