{% extends 'base.html.twig' %}

{% block title %}HomeProduct{% endblock %}

{% block body %}
    <h1>HomeProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home_product.id }}</td>
            </tr>
            <tr>
                <th>Hp_scan_date</th>
                <td>{{ home_product.hpScanDate ? home_product.hpScanDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hp_use_by_date</th>
                <td>{{ home_product.hpUseByDate ? home_product.hpUseByDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hp_consumed</th>
                <td>{{ home_product.hpConsumed ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home_product_index') }}">back to list</a>

    <a href="{{ path('app_home_product_edit', {'id': home_product.id}) }}">edit</a>

    {{ include('home_product/_delete_form.html.twig') }}
{% endblock %}
