{% extends 'base.html.twig' %}

{% block title %}Favorite index{% endblock %}

{% block body %}
    <h1>Favorite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>F_addition_date</th>
                <th>F_order_number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favorite in favorites %}
            <tr>
                <td>{{ favorite.id }}</td>
                <td>{{ favorite.fAdditionDate ? favorite.fAdditionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ favorite.fOrderNumber }}</td>
                <td>
                    <a href="{{ path('app_favorite_show', {'id': favorite.id}) }}">show</a>
                    <a href="{{ path('app_favorite_edit', {'id': favorite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_favorite_new') }}">Create new</a>
{% endblock %}
